swagger: "2.0"
info:
  description: "https://vserver-cloud.net"
  version: "1.0.0"
  title: "vServer Cloud"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "support@vserver.site"
  license:
    name: "MIT License"
    url: "https://github.com/fourhundredfour/vserver-cloud-documentation/blob/master/LICENSE"
host: "vserver-cloud.net"
basePath: "/"
tags:
- name: "List virtual servers"
  description: ""
- name: "Maintain virtual servers"
  description: ""
schemes:
- "https"
paths:
  "/index.php?act=listvs":
    get:
      tags:
      - "List virtual servers"
      summary: "List all virtual servers"
      operationId: "listVS"
      produces:
      - "application/json"
      responses:
        "200":
          description: "Success"
      security:
      - api_key: []
      - api_pass: []
  "/index.php?svs={vsId}&act=vpsmanage":
    get:
      tags:
        - "List virtual servers"
      summary: "Get information about virtual server"
      operationId: "manageVS"
      parameters:
      - name: "vsId"
        in: "path"
        description: "ID of the virtual server"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Success"
      security:
      - api_key: []
      - api_pass: []

  "/index.php?act=listvs&suspend={vsId}":
    get:
      tags:
        - "Maintain virtual servers"
      summary: "Suspend virtual server"
      operationId: "suspendVS"
      parameters:
      - name: "vsId"
        in: "path"
        description: "ID of the virtual server"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Success"
      security:
      - api_key: []
      - api_pass: []
  "/index.php?act=listvs&unsuspend={vsId}":
    get:
      tags:
        - "Maintain virtual servers"
      summary: "Unsuspend virtual server"
      operationId: "unsuspendVS"
      parameters:
      - name: "vsId"
        in: "path"
        description: "ID of the virtual server"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Success"
      security:
      - api_key: []
      - api_pass: []
  "/index.php?act=listvs&suspend_net={vsId}":
    get:
      tags:
        - "Maintain virtual servers"
      summary: "Suspend net virtual server"
      operationId: "suspendNetVS"
      parameters:
      - name: "vsId"
        in: "path"
        description: "ID of the virtual server"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Success"
      security:
      - api_key: []
      - api_pass: []
  "/index.php?act=listvs&unsuspend_net={vsId}":
    get:
      tags:
        - "Maintain virtual servers"
      summary: "Unsuspend net virtual server"
      operationId: "unsuspendNetVS"
      parameters:
      - name: "vsId"
        in: "path"
        description: "ID of the virtual server"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Success"
      security:
      - api_key: []
      - api_pass: []
  "/index.php?act=create":
    post:
      tags:
        - "Create virtual servers"
      summary: "Create virtual server"
      operationId: "createVS"
      parameters:
      responses:
        "200":
          description: "Success"
      security:
      - api_key: []
      - api_pass: []

securityDefinitions:
  api_key:
    type: "apiKey"
    name: "apikey"
    in: "query"
  api_pass:
    type: "apiKey"
    name: "apipass"
    in: "query"